body {
  font-family: Arial, sans-serif;
  background-color: #e5e7eb;
}

.container {
  text-align: center;
  background-color:  #e5e7eb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: 78vh;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #434b54;
  font-family: 'Satisfy', cursive;
  display: flex;
  flex-direction: column;
  margin: 250px 0;
  align-items: center;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #434b54;
}

a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sign-up-link {
  background-color: #3778c2;
  font-size: small;
}

.sign-in-link {
  background-color: #fff;
  color: #434b54;
  font-size: small;
}

.sign-in-link:hover {
  background-color: #3778c2;
  color: #fff;
}

.enter {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 260px;
}

.p-notice {
  font-size: small;
}
